<header class="p-3 w-full bg-gradient-to-r from-primary to-black">
    <div class="flex justify-around">
        <nav class="flex gap-3 my-2 uppercase text-lg">
            <a routerLink="/" routerLinkActive="text-accent" [routerLinkActiveOptions]="{exact:true}" >Home</a>
            
            @if (accountService.currentUser()){
                <a routerLink="/members" routerLinkActive="text-accent">Members</a>
                <a routerLink="/matches" routerLinkActive="text-accent">Matches</a>
                <a routerLink="/messages" routerLinkActive="text-accent">Messages</a>
            }
        </nav>
        
        <div class="flex align-middle ml-auto gap-3">
            
            @if (currentUser() != null) {
                <div class="dropdown dropdown-end">
                    
                    <div tabindex="0" role="button"  class="cursor-pointer">
                        <img ngSrc="/user.png" alt="user" class="w-8 h-8 rounded-full" height="450" width="450">
                        <span>{{currentUser()?.displayName}}</span>
                    </div>
                    <ul tabindex="0" class="dropdown-content menu">
                        <li><button class="btn" (click)="logout()">Logout</button></li>
                    </ul>
                    
                </div>
            }
            @else {
                <form (ngSubmit)="login()" class="flex items-center gap-3">
                    <input name="email" [(ngModel)]="creds.email" type="text" class="input" placeholder="Email">
                    <input name="password" [(ngModel)]="creds.password" type="password" class="input" placeholder="Password">
                    <button class="btn" type="submit">Login</button>
                </form>
            }
        </div>
    </div>
</header>
