<div class="flex flex-col gap-5 w-full h-[69vh]">
    <div class="flex flex-col flex-grow overflow-auto">
        @if (!messages().length){
            <div>There are no messages</div>
        }
        @for (message of messages(); track message.id) {
            
            <div class="chat" 
                 [class.chat-start]="!message.currentUserSender"
                 [class.chat-end]="message.currentUserSender"
            >
                <div class="chat-image avatar">
                    <div class="w-10 rounded-full">
                        <img alt="member image" src="{{message.senderImageUrl}}"/>
                    </div>
                </div>
                <div class="chat-header">
                    {{message.senderDisplayName}}
                    <time class="text-xs opacity-50">{{message.messageSent | date:'short'}}</time>
                </div>
                <div class="chat-bubble">{{message.content}}</div>
                
                @if (message.currentUserSender) {
                    @if (message.dateRead) {
                       <div class="chat-footer opacity-50">Seen {{message.dateRead | dateAgo}}</div>
                    } @else {
                        <div class="chat-footer opacity-50">Not Read</div>
                    }
                } @else {
                    <div class="chat-footer opacity-50">Delivered</div>
                }
                    
            </div>
        }
        <div #messageEndRef></div>
    </div>
                
    <div class="flex join w-full">
        <input class="input w-full" name="content" id="content" [(ngModel)]="messageContent" placeholder="Send message..." (keydown.enter)="sendMessage()"/>
        <button (click)="sendMessage()" type="submit" class="btn btn-primary join-item">Send</button>
    </div>
</div>